
.container-gradient {
  /* background: radial-gradient(farthest-corner at -0% 100%, #7247ff 30%, #00ffbe 95%); */
  background: radial-gradient(farthest-corner at -0% 100%, #9065ff 30%, #58fff7 95%);
  background-size: 400% 400%;

  -webkit-animation: gradientTransition 20s ease infinite;
  -moz-animation: gradientTransition 20s ease infinite;
  animation: gradientTransition 20s ease infinite;
}

.button-container a {
  text-align: center;
  box-shadow: 0 1px 3px #4a4a4a5c;
  margin: 0 auto;
  cursor: pointer;
  color: #9065ff;
  background: #fff;
  border-radius: 4px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-text-decoration: none;
  text-decoration: none;
  -webkit-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.button-container a:hover {
  background: #f9f9f9;
  box-shadow: 0 2px 6px #4a4a4a5c;
}
.button-container a:active {
  background: #e4e4e4;
  box-shadow: 0 0 0 #4a4a4a5c;
}

@-webkit-keyframes gradientTransition {
  0% {background-position: 0% 50%}
  50% {background-position: 60% 50%}
  100% {background-position: 0% 50%}
}
@-moz-keyframes gradientTransition {
  0% {background-position: 0% 50%}
  50% {background-position: 60% 50%}
  100% {background-position: 0% 50%}
}
@keyframes gradientTransition {
  0% {background-position: 0% 50%}
  50% {background-position: 60% 50%}
  100% {background-position: 0% 50%}
}
